/* AuthForm.css */

@import 'Main.css';
body {
    background-color: var(--lightest-green);
  }


  
  .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--light-green);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .form-control:focus {
    border-color: #33691e;
    box-shadow: none;
  }
  
  .btn-primary {
    background-color: var(--dark-green);
    border-color: #33691e;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #2e5a2e;
    border-color: #2e5a2e;
  }
  
  .btn-link {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
  }
  
  .btn-link:hover {
    color: #2e5a2e;
    text-decoration: underline;
  }
  
  