@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply text-dark-green;
}
input,
select {
  @apply rounded-lg p-2 mb-4 hover:shadow-md bg-lightest-green;
}
.animate {
  @apply transition-all duration-700 ease-in-out;
}
.authBtn button {
  @apply w-1/2 p-2;
}
.notActivebtn {
  @apply text-dark-green border-2 border-medium-green border-solid;
}
.activeBtn {
  @apply bg-medium-green;
}
header button {
  @apply w-full bg-medium-green font-bold p-4;
}
header a {
  @apply font-medium px-2 hover:text-dark-green;
}
h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-semibold;
}
h3 {
  @apply text-2xl font-medium;
}
h4 {
  @apply text-xl font-medium;
}
h5 {
  @apply text-lg font-medium;
}
.slider-btn p {
  @apply font-semibold;
}
.slider-btn p:first-child {
  @apply text-lg;
}
.slider-btn p:last-child {
  @apply text-xs mb-2;
}
.slider-btn button {
  @apply w-full;
}
.input-field {
  @apply w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-medium-green transition font-semibold mb-2;
}
.button-common {
  @apply w-full py-2 rounded-lg font-semibold transition-all duration-300 mb-2 shadow-lg hover:shadow-md;
}
.bg-green-hover {
  @apply bg-medium-green hover:bg-transparent border-2 border-medium-green text-white hover:border-medium-green shadow-md;
}
.button-disabled {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed;
}
