@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply text-dark-green bg-lightest-green min-h-screen relative -z-10;
}
.drop {
  @apply bg-medium-green/30 backdrop-blur-sm rounded-lg shadow-lg;
}
input,
textarea,
select {
  @apply rounded-lg p-2 mb-2 hover:shadow-md bg-lightest-green w-full focus:outline-none focus:ring-2 focus:ring-medium-green transition font-semibold shadow-lg;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  @apply text-medium-green text-center;
}
.animate {
  @apply transition-all duration-700 ease-in-out;
}
.authBtn button {
  @apply w-1/2 p-2;
}
.container {
  @apply p-6 mx-auto min-h-screen lg:w-7/12 pt-14;
}
.notActivebtn {
  @apply text-dark-green border-2 border-medium-green border-solid;
}
.activeBtn {
  @apply bg-medium-green;
}
header a {
  @apply font-medium px-2 hover:text-dark-green;
}
.slider-btn p {
  @apply font-semibold;
}
.slider-btn p:first-child {
  @apply text-lg;
}
.slider-btn p:last-child {
  @apply text-xs mb-2;
}
.slider-btn button {
  @apply w-full;
}
.btn {
  @apply w-full py-2 rounded-xl bg-medium-green mb-2 shadow-lg hover:shadow-md hover:bg-dark-green transition-colors duration-150 text-black font-medium;
}
.button-disabled {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed;
}
h2 {
  @apply text-2xl font-semibold;
}
h3 {
  @apply text-xl font-semibold;
}
